<br />
<br />
<br />
<br />
<div>
  <div class="container">
    <div class="text-center">
      <div class="container text-center">
        <div
          style="
            font-size: 50px;
            font-weight: bold;
            background: #121fcf;
            background: -webkit-linear-gradient(
              to right,
              #121fcf 0%,
              #cf1512 100%
            );
            background: -moz-linear-gradient(
              to right,
              #121fcf 0%,
              #cf1512 100%
            );
            background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          "
        >
          <i
            class="fa fa-trophy"
            aria-hidden="true"
            style="margin-right: 10px"
          ></i
          >Achievements
        </div>
      </div>
      <br />
      <br />
    </div>
    <br />
  </div>
  <div class="container">
    <div class="journal-block">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="journal-info">
            <div class="journal-txt">
              <div
                style="
                  line-height: 1.5rem;
                  font-size: x-large;
                  font-weight: bold;
                  color: black;
                "
              >
                Patent #16/235,857
              </div>
              <p style="color: black">UMR CLOUD NETWORK</p>
              <br />
              <p style="font-size: large; color: gray">
                <img
                  style="width: 25px; height: 25px"
                  src="/images/cerner-logo.jpg"
                />
                Cerner
              </p>
              <p>Bangalore, India</p>
              <hr />
              <div class="row">
                <pem
                  class="col-lg-9 col-md-9"
                  style="
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: #eeeeee;
                    font-size: medium;
                  "
                >
                  A web portal that allows the EMR of patients to work across
                  hospitals complying to the FHIR standard.
                  <br />
                </pem>
              </div>
              <p class="separator"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="journal-info">
            <div class="journal-txt">
              <div
                style="
                  line-height: 1.5rem;
                  font-size: x-large;
                  font-weight: bold;
                  color: black;
                "
              >
                Hackathon
              </div>
              <p style="color: black">Championship</p>
              <br />
              <p style="font-size: large; color: gray">
                <img
                  style="width: 25px; height: 25px"
                  src="/images/cerner-logo.jpg"
                />
                Cerner
              </p>
              <p>Bangalore, India</p>
              <hr />
              <div class="row">
                <pem
                  class="col-lg-9 col-md-9"
                  style="
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: #eeeeee;
                    font-size: medium;
                  "
                >
                  Won the Cerner Hackathon Championship in 2016 for developing a
                  healthcare application.
                  <br />
                </pem>
              </div>
              <p class="separator"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="journal-info">
            <div class="journal-txt">
              <div
                style="
                  line-height: 1.5rem;
                  font-size: x-large;
                  font-weight: bold;
                  color: black;
                "
              >
                The Clutch Award
              </div>
              <p style="color: black">Development</p>
              <br />
              <p style="font-size: large; color: gray">
                <img
                  style="width: 25px; height: 25px"
                  src="/images/cerner-logo.jpg"
                />
                Cerner
              </p>
              <p>Bangalore, India</p>
              <hr />
              <div class="row">
                <pem
                  class="col-lg-9 col-md-9"
                  style="
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: #eeeeee;
                    font-size: medium;
                  "
                >
                  Awarded as I developed 3 UI controls / APIs end-to-end to
                  build clinical user interfaces in Cerner.
                  <br />
                </pem>
              </div>
              <p class="separator"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="journal-info">
            <div class="journal-txt">
              <div
                style="
                  line-height: 1.5rem;
                  font-size: x-large;
                  font-weight: bold;
                  color: black;
                "
              >
                The NOTT Award
              </div>
              <p style="color: black">Development</p>
              <br />
              <p style="font-size: large; color: gray">
                <img
                  style="width: 25px; height: 25px"
                  src="/images/cerner-logo.jpg"
                />
                Cerner
              </p>
              <p>Bangalore, India</p>
              <hr />
              <div class="row">
                <pem
                  class="col-lg-9 col-md-9"
                  style="
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: #eeeeee;
                    font-size: medium;
                  "
                >
                  This award is given to associates who have gone above and
                  beyond in developing the team and provide top level of
                  contribution to the company's business
                  <br />
                </pem>
              </div>
              <p class="separator"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="journal-info">
            <div class="journal-txt">
              <div
                style="
                  line-height: 1.5rem;
                  font-size: x-large;
                  font-weight: bold;
                  color: black;
                "
              >
                Devcon Presenter
              </div>
              <p style="color: black">2017</p>
              <br />
              <p style="font-size: large; color: gray">
                <img
                  style="width: 25px; height: 25px"
                  src="/images/cerner-logo.jpg"
                />
                Cerner
              </p>
              <p>Bangalore, India</p>
              <hr />
              <div class="row">
                <pem
                  class="col-lg-9 col-md-9"
                  style="
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: #eeeeee;
                    font-size: medium;
                  "
                >
                  Presented about the implementation of Capybara UI testing
                  framework for ruby on rails applications
                </pem>
              </div>
              <p class="separator"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="journal-info">
            <div class="journal-txt">
              <div
                style="
                  line-height: 1.5rem;
                  font-size: x-large;
                  font-weight: bold;
                  color: black;
                "
              >
                Devcon Presenter
              </div>
              <p style="color: black">2016</p>
              <br />
              <p style="font-size: large; color: gray">
                <img
                  style="width: 25px; height: 25px"
                  src="/images/cerner-logo.jpg"
                />
                Cerner
              </p>
              <p>Bangalore, India</p>
              <hr />
              <div class="row">
                <pem
                  class="col-lg-9 col-md-9"
                  style="
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: #eeeeee;
                    font-size: medium;
                  "
                >
                  Presented in developer conference from Cerner 2016 on cross
                  platform web applications
                </pem>
              </div>
              <p class="separator"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
