<div style="padding: 20px;" class="container">
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <a target="_blank"
                href="https://www.udemy.com/course/msk-frontend-system-design-interview-guidance/?referralCode=F21AB3412B4B123F5611">
                <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                    src="/images/courses/frontend-interview-prep.jpg" />
                <h6 style="color: black">The Complete Frontend Interview Preparation Kit</h6>
                <button style="height:40px" class="btn btn-info">Start the course</button>
            </a>
            <br />
            <br />
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="text-center" style="border-radius: 20px; background-color: purple; color: white" >Coupon code: MSKSEPTEMBER</div>
            <a href="/workshops/react/index.html">
                <img style="width:100%; margin-bottom: 10px; margin-top: 15px;  border-radius: 5px;"
                    src="/images/workshops/react-workshop.jpg" />
                <h6 style="color: black">React, Redux & Material UI Workshop for Beginners</h6>
                <button style="height:40px" class="btn btn-info">Start the course</button>
            </a>
            <br />
            <br />
        </div>
        <div class="col-lg-3 col-md-6">
            <br/>
            <a href="/bootcamps/javascript/index.html">
                <img style="width:100%; margin-bottom: 10px; margin-top: 15px;  border-radius: 5px;"
                    src="/images/bootcamps/javascript-bootcamp.png" />
                <h6 style="color: black">JavaScript Bootcamp for Beginners & Intermediate</h6>
                <button style="height:40px" class="btn btn-info">Start the course</button>
            </a>
            <br />
            <br />
        </div>
        <div class="col-lg-3 col-md-6">
            <br/>
            <a href="/guidance/frontend-system-design/index.html">
                <img style="width:100%; margin-bottom: 10px; margin-top: 15px;  border-radius: 5px;"
                    src="/images/courses/frontend-system-design.jpg" />
                <h6 style="color: black">Frontend System Design Interview Guidance</h6>
                <button style="height:40px" class="btn btn-info">Start the course</button>
            </a>
            <br />
            <br />
        </div>
    </div>
</div>