<div style="background-color: white;">
    <br />
    <br />
    <div class="container text-center">
        <h1><i></i>I got interviewed in many companies.</h1>
        <div style="font-size: large;">My preparation was mostly focused on frontend career path and I believe
            the future is bright ahead.</div>
        <div style="font-size: large;">Giving interviews is a hectic process but the result feels good.
        </div>
    </div>
    <div style="padding: 40px;" class="">
        <br />
        <div class="row">
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: green; color: white">Selected</span>
                <a target="_blank" href="https://walmart.com">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/walmart.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: green; color: white">Selected</span>
                <a target="_blank" href="https://paypal.com">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/paypal.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: red; color: white">Rejected</span>
                <a target="_blank" href="https://google.com">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/google.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: red; color: white">Rejected</span>
                <a target="_blank" href="https://facebook.com">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/facebook.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: gray; color: white">Dropped
                    out</span>
                <a target="_blank" href="https://amazon.com">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/amazon.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: green; color: white">Selected</span>
                <a target="_blank" href="https://www.jpmorgan.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/jp-morgan.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: green; color: white">Selected</span>
                <a target="_blank" href="https://www.tesco.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/tesco.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: green; color: white">Selected</span>
                <a target="_blank" href="https://www.cerner.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/cerner.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: gray; color: white">Dropped
                    out</span>
                <a target="_blank" href="https://tekion.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/tekion.jpeg" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: red; color: white">Rejected</span>
                <a target="_blank" href="https://www.iqvia.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/iqvia.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: gray; color: white">Dropped
                    out</span>
                <a target="_blank" href="https://www.gehealthcare.in/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/ge-healthcare.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: green; color: white">Selected</span>
                <a target="_blank" href="https://www.oracle.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/oracle.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: green; color: white">Selected</span>
                <a target="_blank" href="https://graniteriverlabs.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/grl.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: red; color: white">Rejected</span>
                <a target="_blank" href="https://www.ge.com/digital/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/ge-digital.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: gray; color: white">Dropped
                    out</span>
                <a target="_blank" href="https://www.lighting.philips.com/main/home">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/philips.jpeg" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: red; color: white">Rejected</span>
                <a target="_blank" href="https://www.makemytrip.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/make-my-trip.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color:gray; color: white">Dropped
                    out</span>
                <a target="_blank" href="https://www.infosys.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/infosys.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: red; color: white">Rejected</span>
                <a target="_blank" href="https://en.wikipedia.org/wiki/UTC_Aerospace_Systems">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/utl-aero.jpeg" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: red; color: white">Rejected</span>
                <a target="_blank" href="https://www.isro.gov.in/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/isro.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: green; color: white">Selected</span>
                <a target="_blank" href="https://www.hcltech.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/hcl.jpeg" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: gray; color: white">Dropped
                    out</span>
                <a target="_blank" href="https://www.moengage.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/moengage.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: red; color: white">Rejected</span>
                <a target="_blank" href="https://www.mcafee.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/mcafee.png" />
                </a>
                <br />
                <br />
            </div>
            <div style="padding:20px" class="col-lg-2 col-md-4">
                <span class="text-center"
                    style=" padding: 5px 20px 5px 20px ; border-radius: 20px; background-color: red; color: white">Rejected</span>
                <a target="_blank" href="https://www.idrive.com/">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/logos/companies/idrive.jpeg" />
                </a>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>