<div style="background: rgb(0,120,157);
background: radial-gradient(circle, rgba(0,120,157,1) 0%, rgba(0,0,0,1) 100%);"
 id="about" class="paddsection">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 ">
                <div class="div-img-bg">
                    <div class="about-img">
                        <img src="/images/me-black.jpeg" class="img-responsive" alt="me" />
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <br />
                <div style="text-align: center;" class="about-descr">
                    <h1 style="text-align: center;color: white; font-family: Poppins, helvetica;" class="p-heading">
                        Contact Manoj
                    </h1>
                   
                    <br />
                    <a target="_blank" href="/pdf/manoj-resume-8-years.pdf">
                        <button class="btn btn-info" style="width:265px; font-size: large; ">
                            Download Resume
                        </button>
                    </a>
                    <br />
                    <br />
                    <a target="_blank" href="mailto:msk@manojsatishkumar.com">
                        <button class="btn btn-info" style="width:265px; font-size: large; ">
                            Email
                        </button>
                    </a>
                    <br />
                    <br />
                    <a target="_blank" href="https://www.linkedin.com/in/manojsatishkumar/">
                        <button class="btn btn-info" style="width:265px; font-size: large; ">
                            LinkedIn
                        </button>
                    </a>
                    <br />
                    <br />
                    <a target="_blank" href="https://www.youtube.com/user/Manojsseeker">
                        <button class="btn btn-info" style="width:265px; font-size: large;">
                            YouTube
                        </button>
                    </a>
                    <br />
                    <br />
                    <a target="_blank" href="https://www.facebook.com/manojsatishkumar">
                        <button class="btn btn-info" style="width:265px; font-size: large;">
                            Facebook
                        </button>
                    </a>
                    <br />
                    <br />
                    <a target="_blank" href="https://twitter.com/MSK_Web_Manoj">
                        <button class="btn btn-info" style="width:265px; font-size: large;">
                            Twitter
                        </button>
                    </a>
                    <br />
                    <br />
                    <a target="_blank" href="https://www.instagram.com/manojsatishkumar/">
                        <button class="btn btn-info" style="width:265px; font-size: large; ">
                            Instagram
                        </button>
                    </a>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>