<div style="background-color:#e7e7e7;">
    <br />
    <br />
    <div class="container text-center">
        <h1><i></i>Enroll to my programming courses.</h1>
        <div style="font-size: large;">Web development has come a long way since the past decade and it has a bright
            future ahead.
        </div>
        <div style="font-size: large;">My courses cost less and will help you boost your career as a frontend engineer.
        </div>
    </div>
    <br />
    <br />
    <div style="margin-bottom: -10px;" class="text-center">
        <span class="text-center"
            style=" border-radius: 10px; padding: 5px 20px 5px 20px; background-color: blueviolet; color: white; font-size: x-large; font-weight: bold">Coming
            soon</span>
    </div>
    <div style="padding: 20px; border-radius: 20px;; background-color: white;" class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <h2>MSK TypeScript Bootcamp - Level 1</h2>
                <hr />
                <h6>Get started with TypeScript and start using Type annotations in your projects. Pre register to win
                    the early bird offers. </h6>
                <br />
                <h5>After completing the bootcamp, you will be able to:</h5>
                <hr />
                <ul>
                    <li>
                        Understand the problem with JavaScript for large scale applications.
                    </li>
                    <li>
                        Add TypeScript to your JavaScript projects with the compiler configuration.
                    </li>
                    <li>
                        Include TypeScript and start adding type annotations in your JS projects.
                    </li>
                    <li>
                        Fully understand all the types supported by TypeScript in depth.
                    </li>
                    <li>
                        Feel confident in your front-end interview and talk about TypeScript.
                    </li>
                    <li>
                        Download all the code snippets and create your personal reference notes.
                    </li>
                </ul>
                This Bootcamp features hands-on coding lab experiments which are both fun and useful. They will help you
                understand concepts and TypeScript features.
                <br />
                <br />
                You can to keep those examples for your reference as we advance ourselves to learn
                more TypeScript features in this series of upcoming Bootcamps.
                <br />
                <br />
                Your journey to become a Level 1 master of TypeScript begins here.
                <br/>
                <br/>
            </div>
            <div class="col-lg-5 col-md-5">
                <script src="//web.webformscr.com/apps/fc3/build/loader.js" async
                    sp-form-id="c59778d0ecdfe5d1f3cf1543635ccfe2cb952b558f211c81ef728e75bb1e9c83"></script>
            </div>
        </div>
    </div>
    <br />
    <div style="padding: 20px;" class="container">
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="text-center" style="border-radius: 20px; background-color: purple; color: white">Coupon:
                    MSKSEPTEMBER</div>
                <a target="_blank"
                    href="https://www.udemy.com/course/msk-frontend-system-design-interview-guidance/?referralCode=F21AB3412B4B123F5611">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/courses/frontend-interview-prep.jpg" />
                    <h6 style="color: black">The Complete Frontend Interview Preparation Kit</h6>
                    <button style="height:40px" class="btn btn-info">Start the course</button>
                </a>
                <br />
                <br />
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="text-center" style="border-radius: 20px; background-color: purple; color: white">Coupon:
                    MSKSEPTEMBER</div>
                <a href="/workshops/react/index.html">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px;  border-radius: 5px;"
                        src="/images/workshops/react-workshop.jpg" />
                    <h6 style="color: black">React, Redux & Material UI Workshop for Beginners</h6>
                    <button style="height:40px" class="btn btn-info">Start the course</button>
                </a>
                <br />
                <br />
            </div>
            <div class="col-lg-3 col-md-6">
                <br />
                <a href="/bootcamps/javascript/index.html">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px;  border-radius: 5px;"
                        src="/images/bootcamps/javascript-bootcamp.png" />
                    <h6 style="color: black">JavaScript Bootcamp for Beginners & Intermediate</h6>
                    <button style="height:40px" class="btn btn-info">Start the course</button>
                </a>
                <br />
                <br />
            </div>
            <div class="col-lg-3 col-md-6">
                <br />
                <a href="/guidance/frontend-system-design/index.html">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px;  border-radius: 5px;"
                        src="/images/courses/frontend-system-design.jpg" />
                    <h6 style="color: black">Frontend System Design Interview Guidance</h6>
                    <button style="height:40px" class="btn btn-info">Start the course</button>
                </a>
                <br />
                <br />
            </div>
        </div>
    </div>
    <br />
</div>