<div style="background-color:#e7e7e7;">
    <br />
    <br />
    <div class="container text-center">
        <h1><i></i>Enroll to my programming courses.</h1>
        <div style="font-size: large;">Web development has come a long way since the past decade and it has a bright
            future ahead.
        </div>
        <div style="font-size: large;">My courses cost less and will help you boost your career as a frontend engineer.
        </div>
    </div>
    <br />
    <div style="padding: 20px;" class="container">
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- <div class="text-center" style="border-radius: 20px; background-color: rgb(0%, 36.9%, 88.2%); color: white">Coupon: MSKOCTOBER</div> -->
                <a target="_blank"
                    href="https://www.udemy.com/course/msk-typescript-bootcamp-level-1/?referralCode=BA9964C6FFEC8306F9CB">
                    <iframe style="height:195px; width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="https://www.youtube.com/embed/NHY06bpWGKU" YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                        allowfullscreen></iframe>
                    <h6 style="color: black">Get started with TypeScript with MSK TypeScript Bootcamp - Level 1</h6>
                    <button style="height:40px" class="btn btn-info">Start the course</button>
                </a>
                <br />
                <br />
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- <div class="text-center" style="border-radius: 20px; background-color: purple; color: white">Coupon:
                    MSKSEPTEMBER</div> -->
                <a target="_blank"
                    href="https://www.udemy.com/course/msk-frontend-system-design-interview-guidance/?referralCode=F21AB3412B4B123F5611">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="/images/courses/frontend-interview-prep.jpg" />
                    <h6 style="color: black">The Complete Frontend Interview Preparation Kit</h6>
                    <button style="height:40px" class="btn btn-info">Start the course</button>
                </a>
                <br />
                <br />
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- <div class="text-center" style="border-radius: 20px; background-color: purple; color: white">Coupon:
                    MSKSEPTEMBER</div> -->
                <a target="_blank"
                    href="https://www.udemy.com/course/react-redux-material-ui-workshop/?referralCode=A2ED2C3382A3F16FC154">
                    <iframe style="height:195px; width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="https://www.youtube.com/embed/3j9wvJfiLjg" YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                        allowfullscreen></iframe>
                    <h6 style="color: black">React, Redux & Material UI Workshop for Beginners</h6>
                    <button style="height:40px" class="btn btn-info">Start the course</button>
                </a>
                <br />
                <br />
            </div>
            <div class="col-lg-4 col-md-6">
                <br />
                <a target="_blank"
                    href="https://www.udemy.com/course/msk-frontend-system-design-interview-guidance/?referralCode=F21AB3412B4B123F5611">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px;  border-radius: 5px;"
                        src="/images/bootcamps/javascript-bootcamp.png" />
                    <h6 style="color: black">JavaScript Bootcamp for Beginners & Intermediate</h6>
                    <button style="height:40px" class="btn btn-info">Start the course</button>
                </a>
                <br />
                <br />
            </div>
            <div class="col-lg-4 col-md-6">
                <br />
                <a target="_blank"
                    href="https://www.udemy.com/course/msk-frontend-system-design-interview-guidance/?referralCode=F21AB3412B4B123F5611">
                    <iframe style="height:195px; width:100%; margin-bottom: 10px; margin-top: 15px; border-radius: 5px;"
                        src="https://www.youtube.com/embed/yGcxUw-IhmE" YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                        allowfullscreen></iframe>
                    <h6 style="color: black">Frontend System Design Interview Guidance Session</h6>
                    <button style="height:40px" class="btn btn-info">Start the course</button>
                </a>
                <br />
                <br />
            </div>
            <!-- <div class="col-lg-4 col-md-6">
                <br />
                <a target="_blank" href="https://www.youtube.com/playlist?list=PLyYcl2GkJ13jcmyn7Nl_HCEEv8yZN2lCH">
                    <img style="width:100%; margin-bottom: 10px; margin-top: 15px;  border-radius: 5px;"
                        src="/images/courses/react-hooks-cover.jpg" />
                    <h6 style="color: black">Learn React hooks with this in-depth full course</h6>
                    <button style="height:40px" class="btn btn-info">Start the course</button>
                </a>
                <br />
                <br />
            </div> -->
        </div>
    </div>
    <br />
</div>