<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="/">
    <h3 style="display: inline;">MSK</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li style="margin-left: 5px; margin-right: 5px;" class="nav-item active">
        <a style="font-size: 20px; cursor: pointer;" class="nav-link" href="/blog/index.html">Blog<span
            class="sr-only"></span></a>
      </li>
      <li style="margin-left: 5px; margin-right: 5px;" class="nav-item active">
        <a style="font-size: 20px; cursor: pointer;" class="nav-link" href="/courses/index.html">Tutorials<span
            class="sr-only"></span></a>
      </li>
      <li style="margin-left: 5px; margin-right: 5px;" class="nav-item active">
        <a style="font-size: 20px; cursor: pointer;" class="nav-link" href="/msk-tech-show/index.html">Podcast<span
            class="sr-only"></span></a>
      </li>
      <li style="margin-left: 5px; margin-right: 5px;" class="nav-item active">
        <a style="font-size: 20px; cursor: pointer;" class="nav-link" href="/posts/index.html">Posts<span
            class="sr-only"></span></a>
      </li>
      <li style="margin-left: 5px; margin-right: 5px;" class="nav-item active">
        <a style="font-size: 20px; cursor: pointer;" class="nav-link" href="/q-n-a/q-n-a-with-manoj.html">FAQs<span
            class="sr-only"></span></a>
      </li>
      <li style="margin-left: 5px; margin-right: 5px;" class="nav-item active">
        <a style="font-size: 20px; cursor: pointer;" class="nav-link" href="/apps/index.html">Apps<span
            class="sr-only"></span></a>
      </li>
    </ul>
    <a style="font-size: 20px; cursor: pointer;" class="nav-link" href="/contact/index.html">
      <h5 style=" display: inline; color: white;">Contact Me</h5>
      <span class="sr-only"></span>
    </a>
    <a style="font-size: 20px; cursor: pointer;  color: white;" class="nav-link" href="/profile/index.html">
      About Me
      <span class="sr-only"></span>
    </a>
    <button class="pwa-install-section btn" onclick="buttonInstall()"
      style="display: none; font-size: large; cursor: pointer; background-color: #0972af;" class="nav-link">
      <h5 style=" display: inline; color: white;">Install App</h5>
      <span class="sr-only"></span>
    </button>
  </div>
</nav>