<div class="container">
    <br />
    <br />
    <br />
    <div class=row>
      <div class="col-lg-4 col-md-6 text-center">
        <a style="color:black" target="blank" href="https://www.linkedin.com/in/ankushchauhan14/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/ankush.jpg" />
          </div>
          <br />
          <h2>Ankush C </h2>
            <h5>High school student</h5>
            <h6>Padmashree School</h6>
          <br />
        </div>
      </a>
        <p style=" font-size: medium; color: black;">
          I am very thankful to MSK Foundation for contributing to my dreams by providing some money to buy a laptop.
          I don't have my laptop or pc. I use to code most of the time on my phone by attaching a wired keyboard. And use the phone as a monitor.
          <br/>
          <br/>
          There are thousands of students who are on the same track. Means they have the skills but they don't have accessories to make a profit out of those skillsets.
          <br/>
          <br/>
          Please help the organization by donating some money and help millions of people in the future.
        </p>
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>