<div class="container">
    <br />
    <br />
    <br />
    <div class=row>
      <div class="col-lg-4 col-md-6 text-center">
        <a style="color:black" target="blank" href="https://www.linkedin.com/in/ankushchauhan14/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/ankush.jpg" />
          </div>
          <br />
          <h2>Ankush C </h2>
            <h5>High School Student</h5>
            <h6>Padmashree School</h6>
          <br />
        </div>
        </a>
        <p style=" font-size: medium; color: black;">
          I am very thankful to MSK Foundation for contributing to my dreams by providing some money to buy a laptop.
          I don't have my laptop or pc. I use to code most of the time on my phone by attaching a wired keyboard. And use the phone as a monitor.
          <br/>
          <br/>
          There are thousands of students who are on the same track. Means they have the skills but they don't have accessories to make a profit out of those skillsets.
          <br/>        </p>
        <br />
        <br />
        <br />
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <a style="color:black" target="blank" href="https://www.linkedin.com/in/kunal-chhabra/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/kunal.jpg" />
          </div>
          <br />
          <h2>Kunal C </h2>
            <h5>Data Engineer</h5>
            <h6>Infosys</h6>
          <br />
        </div>
        </a>
        <p style=" font-size: medium; color: black;">
          I and many others like me think of doing these kinds of initiatives but do not because of one or the other reasons ( just lame excuses in reality ). 
          But very few good people like you actually do. Proud of you.
          <br/>
          <br/>
          Please see if somehow we can contact some organizations/government to provide at least basic computer to people who cannot afford but have talent. 
          <br/>         </p>
        <br />
        <br />
        <br />
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <a style="color:black" target="blank" href="https://www.linkedin.com/in/sahilsrivastava25/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/sahil.jpg" />
          </div>
          <br />
          <h2>Sahil S </h2>
            <h5>Intern</h5>
            <h6>Microsoft</h6>
          <br />
        </div>
        </a>
        <p style=" font-size: medium; color: black;">
          Manoj bhaiya, "ek hi dil h kitni baar jitoge" ?
          <br/>
          <br/>
          I don't know you but I just can't believe the amount of money that you are donating either in Udemy courses, Covid patients and now this. All of this seriously need a big heart. Huge respect from my side. 
          <br/>
          <br/>
          I wish I can have a heart like you someday, so generous to help. </p>
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>