<div style="background-color:#474747;" id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="/images/me.png" class="img-responsive" alt="me" />
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <br/>
          <div style="text-align: center;"  class="about-descr">
            <br/>
            <p style="text-align: center; font-size: xx-large; color: white; font-family: Poppins, helvetica;" class="p-heading">
              Manoj Satish Kumar
            </p>
            <br/>
          
            <a  href="/profile/index.html">
              <button class="btn btn-primary"
                style="width:265px; font-size: large;">
                View profile
              </button>
            </a>
            <br/>
            <br/>
            <br/>
           
              <a target="_blank" href="https://www.linkedin.com/in/manojsatishkumar/">
                <button class="btn btn-info"
                  style="width:265px; font-size: large; margin-bottom: 5px;">
                  Connect on LinkedIn
                </button>
              </a>
              <br/>
              <a target="_blank" href="https://www.youtube.com/user/Manojsseeker">
                <button class="btn btn-danger"
                  style="width:265px; font-size: large;">
                  Subscribe on YouTube
                </button>
              </a>
            
            <br/>
            <br />
            <br>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="background-color:black; color: white" id="footer" class="paddsection">
    <div class="container">
      <div style="line-height: 1.5rem; font-size: large; text-align: center;">
        I wish you all the best.
      </div>
    </div>
  </div>