<!--footer starts from here-->
<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">MSK</h5>
        <!--headin5_amrc-->
        <p class="mb10">Web development tutorials, full-courses, podcasts, LIVE streams, blog posts, FAQs, projects,
          books & more...</p>
        <p><i class="fa fa-location-arrow"></i> Bangalore, India </p>
        <p><i class="fa fa fa-envelope"></i> <a style="color: lightgray;"
            href="mailto:85manojs@gmail.com">85manojs@gmail.com</a></p>
      </div>
      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Sections</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="/">Home page</a></li>
          <li><a href="/courses/index.html">Web courses</a></li>
          <li><a href="/blog/index.html">Blog posts</a></li>
          <li><a href="/msk-tech-show/index.html">All podcasts</a></li>
          <li><a target="_blank" href="https://youtube.com/playlist?list=PLyYcl2GkJ13hoTtXpRrMrPC-5gPyZkQx7">LIVE
              streams</a></li>
          <li><a href="/q-n-a/q-n-a-with-manoj.html">Questions</a></li>
          <li><a href="/profile/index.html">About me</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>
      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="/courses/react-hooks/index.html">React hooks course</a></li>
          <li><a href="/blog/my-Javascript-interview-experiences-and-lessons.html">A javascript journey</a></li>
          <li><a target="_blank" href="https://youtu.be/XrVhyHfdCmI?list=PLyYcl2GkJ13hoTtXpRrMrPC-5gPyZkQx7">LIVE coding
              session</a>
          </li>
          <li><a target="_blank" href="https://youtu.be/UY8NfmPjxmg?list=PLyYcl2GkJ13gpzK4FE7RX_v82Vw-rWd7K">Full stack
              web dev</a></li>
          <li><a href="/blog/12-types-of-software-developers-in-office.html">12 types of devs</a></li>
          <li><a href="/blog/how-to-get-promoted-to-senior-software-engineer.html">Sr. software engineer</a></li>
          <li><a href="/blog/software-engineer-versus-architect.html">Engineer vs Architect</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>
      <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Initiatives</h5>
        <!--headin5_amrc ends here-->
        <ul class="footer_ul2_amrc">
          <li><a target="_blank" style="color: lightgray;" href="https://forms.gle/kSmY9dhioUJzs7UB9"><i
                class="fab fleft"></i>
              <p>MSK Referral program 2021
            </a></p>
          </li>
        </ul>
        <!--footer_ul2_amrc ends here-->
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="foote_bottom_ul_amrc">
      <li><a href="/">Home</a></li>
      <li><a href="/courses/index.html">Tutorials</a></li>
      <li><a href="/blog/index.html">Articles</a></li>
      <li><a href="/profile/index.html">About</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2021 | Created by <a href="/profile/index.html">Manoj Satish Kumar</a></p>
    <ul style="padding-left: 0px;" class="social_footer_ul">
      <li style="padding-left: 0px;"><a target="_blank" href="https://www.linkedin.com/in/manojsatishkumar/"><i class="fab fa-linkedin"></i></a>
      </li>
      <li><a target="_blank" href="https://www.facebook.com/manojsatishkumar"><i class="fab fa-facebook-f"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/ManojSatishKum1"><i class="fab fa-twitter"></i></a></li>
      <li><a href="mailto:85manojs@gmail.com"><i class="fab fa fa-envelope"></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
  </div>
</footer>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">