<div class="mobile-ad-block">
    <br/>
    <!-- article-responsive -->
    <div class="text-center" style="font-size: small;" >Advertisement</div>
    <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-8918151191552563"
    data-ad-slot="4729169615"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
      <style>
        .mobile-ad-block {
            display: none
        }

        /* mobile */
        @media only screen and (max-width: 1024px) {
        .mobile-ad-block {
            display: block
            }
        }

    </style>
     <br/>
 </div>

