<div id="side-profile-root">
    <div class="text-center">
        <img width="60%" src="/images/side-profile-photo.jpg">
        <br />
        <br />
        <h2>About the author</h2>
    </div>
    <hr />
    <div style=" padding: 20px; background-color: #f3f3f3">
        <p style=" font-size: large; color: black;">
            My name is Manoj.
        </p>
        <p style=" font-size: large; color: black;">
            I have a decade of experience in building professional websites and front-end applications. I have worked
            both in startups and giant companies. I’m here to help you become a successful front-end web developer and
            help you crack those frontend interviews.
        </p>
        <p style=" font-size: large; color: black;">
            I started out as a software engineer and slowly realized that I have a passion to teach.
            My mother was a mathematics teacher and I’m following her footsteps - except that I teach web development.
        </p>
        <p style=" font-size: large; color: black;">
            I feel obligated to build front-end interfaces of supreme quality.
            I love the javascript ecosystem and I think you’ll love building websites too.
        </p>
        <p style=" font-size: large; color: black;">
            If that interests you, please follow me on <a target="_blank"
                href="https://www.linkedin.com/in/manojsatishkumar/">LinkedIn</a> and subscribe to my <a target="_blank"
                href="https://www.youtube.com/c/ManojSatishKumar">YouTube channel</a>.
        </p>
        <p style=" font-size: large; color: black;">Regards,
            <br />
            Manoj Satish Kumar
        </p>
    </div>
</div>
<style>
    /* mobile */
    @media only screen and (max-width: 800px) {
        #side-profile-root {
            display: none;
        }
    }
</style>