
   <div class="container">
    <div class="row">
        
        <div class="col-lg-3 col-md-6">
            <a style="color: black" target="_blank"
            href="https://www.linkedin.com/in/manojsatishkumar/">
                <div style=" background-color: rgb(93.3%, 93.3%, 93.3%); padding:20px; border-radius: 20px;">
                            <span  style="font-size: 60px; font-weight: 700;  background: #121FCF;
                            background: -webkit-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                            background: -moz-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                            background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;" ><span class="counter-value" data-count="57000">0</span></span>
                            <br/>
                            <div  style="font-size: xx-large;">LinkedIn</div>
                            <div  style="font-size: medium; padding-left: 2px;">Followers</div>
                </div>
            </a>
            <br/>
          </div>  
    
       
      

        <div class="col-lg-3 col-md-6">
            <a style="color: black" target="_blank"
            href="https://www.udemy.com/user/manoj79/">
                <div style=" background-color: rgb(93.3%, 93.3%, 93.3%); padding:20px; border-radius: 20px;">
                            <span  style="font-size:  60px; font-weight: 700;  background: #121FCF;
                            background: -webkit-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                            background: -moz-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                            background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;" ><span class="counter-value" data-count="5700">0</span></span>
                            <br/>
                            <div  style="font-size: xx-large;">Udemy</div>
                            <div  style="font-size: medium; padding-left: 3px;">Students</div>
                </div>
            </a>
            <br/>
          </div>  
        <div class="col-lg-3 col-md-6">
            <a style="color: black" target="_blank"
            href="https://www.youtube.com/user/Manojsseeker">
                <div style=" background-color: rgb(93.3%, 93.3%, 93.3%); padding:20px; border-radius: 20px;">
                            <span  style="font-size: 60px; font-weight: 700;  background: #121FCF;
                            background: -webkit-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                            background: -moz-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                            background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;" ><span class="counter-value" data-count="3500">0</span></span>
                            <br/>
                            <div  style="font-size: xx-large;">YouTube</div>
                            <div  style="font-size: medium; padding-left: 4px;">Subscribers</div>
                </div>
            </a>
            <br/>
          </div>  

          <div class="col-lg-3 col-md-6">
            <a style="color: black" target="_blank"
            href="https://t.me/msk_web_development">
                <div style=" background-color: rgb(93.3%, 93.3%, 93.3%); padding:20px; border-radius: 20px;">
                            <span  style="font-size:  60px; font-weight: 700; background: #121FCF;
                            background: -webkit-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                            background: -moz-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                            background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;" ><span class="counter-value" data-count="5100">0</span></span>
                            <br/>
                            <div  style="font-size: xx-large;">Telegram</div>
                            <div  style="font-size: medium; padding-left: 3px;">Group members</div>
                </div>
            </a>
            <br/>
          </div>  


        </div>  

    </div>  
</div>  


<script>
    var a = 0;
    $(function() {

  var oTop = $('#counter').offset().top - window.innerHeight;
  if (a == 0 && $(window).scrollTop() > oTop) {
    $('.counter-value').each(function() {
      var $this = $(this),
        countTo = $this.attr('data-count');
      $({
        countNum: $this.text()
      }).animate({
          countNum: countTo
        },

        {

          duration: 5000,
          easing: 'swing',
          step: function() {
            $this.text(Math.floor(this.countNum));
          },
          complete: function() {
            $this.text(this.countNum);
            //alert('finished');
          }

        });
    });
    a = 1;
  }

});
</script>