<div class="container">
    <h1 class=" text-center container">
      Testimony
    </h1>
    <br />
    <div class=row>
      <div class="col-lg-3 col-md-4 text-center">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/raja-sir.jpeg" />
          </div>
          <br />
          <h2> <a style="color:black" target="blank" href="https://www.linkedin.com/in/rajaramanv/">Rajaraman V</a>
            <h5>Executive Vice President</h5>
            <h6>Granite River Labs</h6>
          </h2>
          <br />
        </div>
        <p style=" font-size: large; color: black;">
          Manoj is a very interesting personality, from the day one he started in GRL to till today, he keeps surprising
          me with his enthusiasm and interest to acquire new skill/knowledge. I let him go from our team to support his
          aspiration. He is always a part of my dream team. Keep it up Manoj!
        </p>
        <br />
        <br />
        <br />
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/satyajeet.jpeg" />
          </div>
          <br />
          <h2> <a style="color:black" target="blank" href="https://www.linkedin.com/in/satyajeetdesale/">Satyajeet D</a>
            <h5>Sr. Engineering Manager</h5>
            <h6>Cerner</h6>
          </h2>
          <br />
        </div>
        <p style=" font-size: large; color: black;">
          I have worked with Manoj at Cerner to advance our web framework/platform stack. Manoj is an excellent frontend
          engineer to work with. He has shown immense passion and dedication towards his work. He never hesitates to
          help people out.
        </p>
        <br />
        <br />
        <br />
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/sushanth.jpeg" />
          </div>
          <br />
          <h2> <a style="color:black" target="blank" href="https://www.linkedin.com/in/mys/">Sushanth J
            </a>
            <h5>Senior Engineer</h5>
            <h6>Siemens</h6>
          </h2>
          <br />
        </div>
        <p style=" font-size: large; color: black;">
          Manoj had constantly amazed me with his industry insights and brilliant approaches to solving problems. He is
          very thorough in everything he does and can be depended upon to get the job done. Excellent and result driven
          and works towards maximal customer satisfaction.
        </p>
        <br />
        <br />
        <br />
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/bala.jpeg" />
          </div>
          <br />
          <h2> <a style="color:black" target="blank" href="https://www.linkedin.com/in/balamurugan-natarajan-59678388/">Balamurugan N
            </a>
            <h5>Software Engineer</h5>
            <h6>Walmart</h6>
          </h2>
          <br />
        </div>
        <p style=" font-size: large; color: black;">
          Manoj's great collaboration with product team and UX team helped to bring lots of ideas to the product. After
          he joined, demo's are no longer boring PPTs and plain walkthrough. Watching his demo is like watching an
          interesting short film. He broke lots of such old conventions in team.
        </p>
        <br />
        <br />
        <br />
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <a style="color:black" target="blank" href="https://www.linkedin.com/in/pulkitguptajmi/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/pulkit.jpg" />
          </div>
          <br />
          <h2>Pulkit P</h2>
            <h5>Software Engineer</h5>
            <h6>Blackhawk Network</h6>
          <br />
        </div>
        </a>  
        <p style=" font-size: large; color: black;">
          Manoj is perhaps one of the most genuine mentors you could ask for. He is innately passionate to help you, and once you go ahead and seek his help - you can definitely see this for yourself. He wields solid grasp on the Frontend web tech and is brimming with insights on how the tech industry moves and works.
        </p>
        <br />
        <br />
        <br />
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <a style="color:black" target="blank" href="https://www.linkedin.com/in/narayand16/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/Narayan.jpeg" />
          </div>
          <br />
          <h2>Narayan D</h2>
            <h5>Sr. Software Engineer</h5>
            <h6>CitiusTech</h6>
        
          <br />
        </div>
        </a>  
        <p style=" font-size: large; color: black;">
          I really loved the way Manoj go out of the box to make you understand the complex concepts of Web tech in very simple words. He has exceptional organization skills which I got chance to learn from. I would highly recommend him as a mentor , be it technology, career guidance or life learnings.
        </p>
        <br />
        <br />
        <br />
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <a style="color:black" target="blank" href="https://www.linkedin.com/in/maheshdevathi/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/Mahesh.jpg" />
          </div>
          <br />
          <h2>Mahesh D</h2>
            <h5>Power Programmer</h5>
            <h6>Infosys</h6>
          <br />
        </div>
        </a>  
        <p style=" font-size: large; color: black;">
          Manoj is highly proficient in front end development.He is a Continuous learner and shares knowledge to everyone. His campaigns and posts in linkedin are really helpful to many developers.        </p>
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>