<head>
  <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
</head>
<div class="container">
  <h1 class=" text-center container">TESTIMONY
  </h1>
  <br />
  <br />
  <div class=row>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/rajaramanv/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/raja-sir.jpeg" />
          </div>
          <br />
          <h2>Rajaraman</h2>
          <h5>Executive Vice President</h5>
          <h6>Granite River Labs</h6>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        Manoj is a very interesting personality, from the day one he started in GRL to till today, he keeps surprising
        me with his enthusiasm and interest to acquire new skill/knowledge. I let him go from our team to support his
        aspiration. He is always a part of my dream team. Keep it up Manoj!
      </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/satyajeetdesale/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/satyajeet.jpeg" />
          </div>
          <br />
          <h2>Satyajeet
            <h5>Sr. Engineering Manager</h5>
            <h6>Cerner</h6>
          </h2>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        I have worked with Manoj at Cerner to advance our web framework/platform stack. Manoj is an excellent frontend
        engineer to work with. He has shown immense passion and dedication towards his work. He never hesitates to
        help people out.
      </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/sharmee-biswas-41a5a6103/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/sharmee.jpg" />
          </div>
          <br />
          <h2>Sharmee
            <h5>Software Engineer</h5>
            <h6>Walmart</h6>
          </h2>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        Manoj has an exceptional way to present ideas that catches the audience's attention. His contribution towards
        the project will always be remembered. Often, we have seen him be the designer and developer that the team
        needed. He is a team player with a lot of patience.
      </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/mys/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/sushanth.jpeg" />
          </div>
          <br />
          <h2> Sushanth</h2>
          <h5>Senior Engineer</h5>
          <h6>Siemens</h6>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        Manoj had constantly amazed me with his industry insights and brilliant approaches to solving problems. He is
        very thorough in everything he does and can be depended upon to get the job done. Excellent and result driven
        and works towards maximal customer satisfaction.
      </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/balamurugan-natarajan-59678388/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/bala.jpeg" />
          </div>
          <br />
          <h2> Balamurugan
            <h5>Software Engineer</h5>
            <h6>Walmart</h6>
          </h2>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        Manoj's great collaboration with product team and UX team helped to bring lots of ideas to the product. After
        he joined, demo's are no longer boring PPTs and plain walkthrough. Watching his demo is like watching an
        interesting short film. He broke lots of such old conventions in team.
      </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/pooja-chawla/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/pooja.jpg" />
          </div>
          <br />
          <h2>Pooja</h2>
          <h5>Full Stack Engineer</h5>
          <h6>Independent contractor</h6>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        Manoj is a genuine and kind human who has been helping people grow in their lives. He responds to every question
        calmly and thoughtfully.
        He is not only contributing to make frontend development an easy path for everyone, but is also contributing to
        the people in need in every way possible. We need more people like him to make this world a better place! </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/pulkitguptajmi/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/pulkit.jpg" />
          </div>
          <br />
          <h2>Pulkit</h2>
          <h5>Software Engineer</h5>
          <h6>Blackhawk Network</h6>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        Manoj is perhaps one of the most genuine mentors you could ask for. He is innately passionate to help you, and
        once you go ahead and seek his help - you can definitely see this for yourself. He wields solid grasp on the
        Frontend web tech and is brimming with insights on how the tech industry moves and works.
      </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/narayand16/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/Narayan.jpeg" />
          </div>
          <br />
          <h2>Narayan</h2>
          <h5>Sr. Software Engineer</h5>
          <h6>CitiusTech</h6>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        I really loved the way Manoj go out of the box to make you understand the complex concepts of Web tech in very
        simple words. He has exceptional organization skills which I got chance to learn from. I would highly recommend
        him as a mentor , be it technology, career guidance or life learnings.
      </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/ankushchauhan14/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/ankush.jpg" />
          </div>
          <br />
          <h2>Ankush</h2>
          <h5>High School Student</h5>
          <h6>Padmashree school</h6>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        There is no better mentor than Manoj. He is one of the most dedicated professionals which I see and who willing
        to put in that extra help whenever you need it.
        His expertise as a developer is considerable and handles every situation very carefully and in the right manner.
        His organization is doing amazingly well by helping students in their studies and their contributions are
        valuable to the side.
      </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/harshita-raj/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/harshita.jpg" />
          </div>
          <br />
          <h2>Harshita</h2>
          <h5>Engineering Student</h5>
          <h6>Siksha University</h6>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        Manoj Sir is really an inspiration of hard work and dedication for all . I have read each and every post of his
        which has helped me a lot in my learning of web development. Recently by providing courses as a gift through
        Udemy he has done a great deed and has helped a lot of students.
      </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/maheshdevathi/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/Mahesh.jpg" />
          </div>
          <br />
          <h2>Mahesh</h2>
          <h5>Power Programmer</h5>
          <h6>Infosys</h6>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        Manoj is highly proficient in front end development.He is a Continuous learner and shares knowledge to everyone.
        His campaigns and posts in linkedin are really helpful to many developers. </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/nilisha-jaiswal-7980061b2/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/nilisha.jpg" />
          </div>
          <br />
          <h2>Nilisha</h2>
          <h5>Engineering Student</h5>
          <h6>B.C. Roy College </h6>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        Manoj sir is a high-spirited and energetic individual who is always ready to help the worthy and needy.
        <br />
        He's a man with a beautiful soul.
      </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/dhwajsharma/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/dhwaj.jpg" />
          </div>
          <br />
          <h2>Dhwaj</h2>
          <h5>Engineering Student</h5>
          <h6>Manipal University</h6>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        I've been following Manoj sir for a long time. He is giving back to the community and contributing to make
        frontend development an easy path for students as well as professionals. I would definitely recommend him.
      </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/vanshiaro/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/Vanshika.jpg" />
          </div>
          <br />
          <h2>Vanshika</h2>
          <h5>Software Developer
          </h5>
          <h6>Barclays</h6>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        Manoj Sir is a great teacher. He got all his students doubt cleared and helped them in growing in their career.
        Apart from that, his organisation gifts Udemy courses for a student to learn new skills. I also got a gift Udemy
        course which helped me a lot in excelling in my career. I'd highly recommend such a selfless and skillful
        teacher.
      </p>
      <br />
      <br />
      <br />
    </div>
    <div class="col-lg-3 col-md-4 text-center">
      <a style="color:black" target="blank" href="https://www.linkedin.com/in/krishnendu-halder-0970b9b3/">
        <div>
          <div>
            <img style="border-radius: 50%; border: 1px solid gray" width="120" src="/images/people/krishnendu.jpeg" />
          </div>
          <br />
          <h2>Krishnendu</h2>
          <h5>Senior QE
          </h5>
          <h6>Nomura</h6>
          <p style="color: rgb(0%, 29.4%, 70.2%);"><i class="ion-social-linkedin"></i> Profile</p>
        </div>
      </a>
      <p style=" font-size: medium; color: black;" class="feedbackText">
        I took Manoj's TypeScript bootcamp and I must say, I have chosen the right course for this. If you are in some
        confusion with your background and all, then please do not hesitate, this course is prepared in such a way so
        that a person with minimal coding experience
        can understand it.
      </p>
      <br />
      <br />
      <br />
    </div>
    <hr />
    <div class="col-lg-3 col-md-4">
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">Day 3 -<br>Attended the 8 hour long Javascript bootcamp hosted by @ManojSatishKum1 <br>It
          was so Informative and productive. Got a quick refresher of JS concepts<a
            href="https://twitter.com/hashtag/150DaysOfCode?src=hash&amp;ref_src=twsrc%5Etfw">#150DaysOfCode</a></p>
        &mdash; Sumit Dhanania (@DhananiaSumit) <a
          href="https://twitter.com/DhananiaSumit/status/1380932439996997633?ref_src=twsrc%5Etfw">April 10, 2021</a>
      </blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-lg-3 col-md-4">
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">Attending the &quot;Crack the Front-end Interview&quot; by @ManojSatishKum1, the
          seminar
          was meant to be 60-80 mins long. It&#39;s almost 3 hours now and he is still clarifying each and every
          doubt.
          ❤️</p>&mdash; Ashfaq 🚀 (@ashfaq_ulhaq) <a
          href="https://twitter.com/ashfaq_ulhaq/status/1376201844884598786?ref_src=twsrc%5Etfw">March 28, 2021</a>
      </blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  <hr />
  <br />
  <br />
</div>
<style>
  .feedbackText {
    background-color: rgb(94.1%, 94.1%, 94.1%);
    padding: 10px;
    border-radius: 20px;
  }
</style>