<!-- AddToAny BEGIN -->
<div>
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class=" social-share-button a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="social-share-button a2a_button_linkedin"></a>
        <a class="social-share-button a2a_button_facebook"></a>
        <a class="social-share-button a2a_button_twitter a2a_counter"></a>
        <a class="social-share-button a2a_button_whatsapp"></a>
        <a class="social-share-button a2a_button_telegram"></a>
        <!-- <a class="social-share-button a2a_button_email"></a> -->
        <a class="social-share-button a2a_button_copy_link"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
</div>
<style>
    .social-share-button {
        margin-right: 5px;
    }
</style>