<div class="sidebar-wrapper">
    <br/>
    <div style="
        padding: 10px;
        padding-left: 20px;
        font-size: xx-large;">
        React hooks
    </div>
    <div style="overflow-y: scroll; height: 100%;">
        <a class="sidebar-part-link " href="/courses/react-hooks/index.html">
            <div id="sidebar-intro" class="sidebar-intro">
                Introduction
            </div>
        </a>
        <div id="sidebar-c1" class="sidebar-chapter">
            Chapter 1
        </div>
        <a class="sidebar-part-link " href="/courses/react-hooks/chapter-1-introduction/part-1-the-history.html">
            <div id="sidebar-c1p1" class="sidebar-part">
                The History
            </div>
        </a>
        <a class="sidebar-part-link " href="/courses/react-hooks/chapter-1-introduction/part-2-the-rules.html">
            <div id="sidebar-c1p2" class="sidebar-part">
                The Rules
            </div>
        </a>
        <a class="sidebar-part-link " href="/courses/react-hooks/chapter-1-introduction/part-3-class-problems.html">
            <div id="sidebar-c1p3" class="sidebar-part">
                Class problems
            </div>
        </a>
        <a class="sidebar-part-link " href="/courses/react-hooks/chapter-1-introduction/part-4-adoption.html">
            <div id="sidebar-c1p4" class="sidebar-part">
                Adoption
            </div>
        </a>
        <div id="sidebar-c1" class="sidebar-chapter">
            Chapter 2
        </div>
        <a class="sidebar-part-link "
            href="/courses/react-hooks/chapter-2-use-state-hook/part-1-the-use-state-hook.html">
            <div id="sidebar-c2p1" class="sidebar-part">
                The useState( ) hook
            </div>
        </a>
        <a class="sidebar-part-link " href="/courses/react-hooks/chapter-2-use-state-hook/part-2-few-examples.html">
            <div id="sidebar-c2p2" class="sidebar-part">
                Few Examples
            </div>
        </a>
        <a class="sidebar-part-link " href="/courses/react-hooks/chapter-2-use-state-hook/part-3-benefits.html">
            <div id="sidebar-c2p3" class="sidebar-part">
                The Benefits
            </div>
        </a>
        <a class="sidebar-part-link " href="/courses/react-hooks/chapter-2-use-state-hook/live-coding-1.html">
            <div id="sidebar-c2-live1" class="sidebar-part">
                LIVE coding session
            </div>
        </a>
        <a class="sidebar-part-link "
            href="/courses/react-hooks/chapter-2-use-state-hook/part-4-complex-logic-issue.html">
            <div id="sidebar-c2p4" class="sidebar-part">
                Complex logic issue
            </div>
        </a>
        <a class="sidebar-part-link "
            href="/courses/react-hooks/chapter-2-use-state-hook/part-5-automatic-merging-issue.html">
            <div id="sidebar-c2p5" class="sidebar-part">
                Automatic merging issue
            </div>
        </a>
        <a class="sidebar-part-link " href="/courses/react-hooks/chapter-2-use-state-hook/part-6-the-summary.html">
            <div id="sidebar-c2p6" class="sidebar-part">
                The summary
            </div>
        </a>
    </div>
</div>
<style>
    .sidebar-wrapper {
        position: fixed;
        width: 300px;
        height: 100%;
        background-color: #f2f2f2;
    }

    .sidebar-chapter {
        padding: 10px;
        padding-left: 20px;
        font-size: large;
    }

    .sidebar-intro {
        padding: 10px;
        padding-left: 20px;
        font-size: large;
    }

    .sidebar-part {
        padding: 5px;
        padding-left: 40px;
        font-size: medium;
        cursor: pointer;
    }

    .sidebar-part:hover {
        background-color: #c2e6ea;
    }

    .sidebar-part-link {
        text-decoration: none;
        color: black
    }
</style>